body {

  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {}

.link-container {
  display: flex;

  justify-content: center;
  background-color: aliceblue;
}

.nav-link {
  margin: 10px;
  color: red;
}